*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container-fluid{
    background-color: rgb(20, 20, 202);
    color: aliceblue !important;
}
.navbar .nav-link {
    color: white !important;  
}
.navbar .nav-item{
    padding-right: 30px;
    word-spacing: 30px;
}
#log{
    padding: 10px;
    height: 12vh;
    width: 8vw;
}


