*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container-fluid{
    background-color: rgb(20, 20, 202);
    color: aliceblue !important;
    border-radius: 36px;

}
.navbar{
    margin: 15px;
    padding: 0.5rem;
}
.navbar .nav-link {
    color: white !important;
    font-weight: 500;  
}
.nav-link:hover,.nav-link.active {
    color: rgb(14, 13, 15);
}
.navbar .nav-item{
    padding-right: 30px;
    word-spacing: 30px;
}
#log{
    padding: 10px;
    padding-left: 28px;
    height: 12vh;
    width: 8vw;
}


